.bg-custom{
    background-image: url("../../../assets/img/base\ GLV.png");
    padding: 5px;
}

a{
    color: white;
}

.onActive{
    text-decoration: underline;
    color: white;
}

.nav-link{
    font-size: 30px;
}

.nav-link:hover{
    color: white;
}

